#login {
  background-image: url(./assets/kpi3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

#loginCard {
  animation-duration: 2s; 
}
.hover-alert:hover  {
  color: white;
}

.nav-pills .nav-item .nav-link.active {
  background-color: rgb(255, 255, 255); /* Ganti dengan warna yang diinginkan */

}
.nav-link.active {
  pointer-events: none;
}

.opacity {
  background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-item:active{
  background-color: white;
  color: black;
}

.chart-loading {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.kpi-text-color {
  color: rgb(27, 119, 1);
}

.kpi-bg-color {
  background-color: rgb(27, 119, 1);
}

select {
  /* Untuk Firefox */
  appearance: none;
  /* Untuk Chrome, Safari, dan Opera */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Untuk Edge */
  -ms-appearance: none;
  /* Menonaktifkan panah di Internet Explorer 11 */
  scrollbar-arrow-color: transparent;
}
  